* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto';
}

div {
    display: flex;
    width: 100%;
}

.content {
    width: 75%;
    justify-content: space-between;
}

.header {
    justify-content: center;
    background-color: #1f2937;
}

.header .content {
    margin: 10px;
}

.hero {
    justify-content: center;
    background-color: #1f2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary {
    font-size: 14px;
    color: #F9FaF8;
}

.hero .content {
    margin: 60px;
}

.hero-image {
    width: 800px;
    background-color: grey;
    align-items: center;
    justify-content: center;
}

.hero button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color: #e5e7eb;
    background-color: #3882f6;
    font-weight: bold;
}

.info {
    justify-content: center;
}

.info p {
    text-align: center;
}

.info .content {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 65%;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 20px;
}

.info-wrapper {
    justify-content: center;
    gap: 40px;
}

.info-card {
    flex-direction: column;
    max-width: 126px;
}

.info-card-text {
    font-size: 12px;
    color: grey;
}

.info-image {
    height: 120px;
    width: 120px;
    border: 3px solid #3882F6;
    border-radius: 10%;
}

.quote {
    justify-content: center;
    background-color: #e5e7eb;
}

.quote .content {
    flex-direction: column;
    margin: 80px;
    gap: 8px;
    width: 60%;
}

.quote-text  {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.attribution {
    display: flex;
    justify-content: right;
    font-size: 14px;
    font-weight: bold;
}

.signup {
    justify-content: center;
}

.signup .content {
    background-color: #3882F6;
    padding: 20px 80px;
    margin: 80px;
    border-radius: 5px;
    align-items: center;
}

.signup-text-wrapper {
    flex-direction: column;
    color: #f9faf8;
}

.signup-text-wrapper p:first-of-type {
    font-weight: bold;
    font-size: 18px;
}

.signup-text-wrapper p:nth-of-type(2) {
    font-size: 14px;
}

.signup-button {
    height: 25px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #e5e7eb;
    font-weight: bold;
    background-color: #3882f6;
}

.footer {
    margin-top: auto;
    background-color: #1F2937;
    color: #F9FaF8;
    padding: 24px;
    justify-content: center;
}