* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
}

.header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0px;
    width: 70vw;
}

.header nav .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.header nav .links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.header .container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0px;
    width: 70vw;
}

.header .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #E5E7EB;
    gap: 8px;
    margin-right: 8px;
    font-size: 18px;
}

.header h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.header button {
    width: 100px;
    border: 0;
    background-color: #3882F6;
    border-radius: 0.5em;
    padding: 8px;
    color: #E5E7EB;
}

.header .image {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: slategray;
    height: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.information .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    width: 70vw;
}

.information-title {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.information h2 {
    font-size: 36px;
    color: #1F2937;
}

.information-image-container {
    display: flex;
    align-items: center;
}

.information-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.information-image .image {
    border: 3px solid #3882F6;
    border-radius: 1em;
    width: 96px;
    height: 96px;
    padding: 16px;
}

.information-image p {
    align-self: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote .container {
    margin: 80px 0px;
    width: 70vw;
}

.quote1 {
    font-size: 36px;
    font-style: italic;
}

.quote1-attribution {
    text-align: right;
    font-weight: bold;
}