* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

div {
    display: flex;
    width: 100%;
}

.content {
    width: 60%;
    justify-content: space-between;
}

.header {
    justify-content: center;
}

.hero {
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-image {
    height: 200px;
    width: 400px;
    background-color: grey;
}

.info {
    justify-content: center;
}

.quote {
    justify-content: center;
}

.quote .content {
    flex-direction: column;
}

.attribution {
    display: flex;
    justify-content: right;
}

.signup {
    justify-content: center;
}

.footer {
    margin-top: auto;
    justify-content: center;
}