* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.header {
    display: flex;
    flex: 1;
    flex-direction: column;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.header-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.image {
    display: flex;
    flex: 1;
    justify-content: center;
}